.product-catalog{
    width: 60%;
    height: 100vh;
    display: flex;
    border: solid black;
    
}
.catalog-thumbsnail{
    width: 100px;
    height: 100px;
    position: sticky;
    top: 0px;
    /* border: red solid; */
}

.catalog-thumbsnail img{
    width: 100%;
    height: 100%;
    border: solid 1px rgb(192, 192, 192);
}

.catalog-thumbsnail img.active{
    border: solid rgb(57, 183, 255);
}
.product-main-img{
    position: sticky;
    top: 0px;
    width: 45%;
    margin-left: 20px;
    margin-right: 100px;
}
.product-main-img img{
    width: 100%;
    /* object-fit: cover; */
}
