.product_card_container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  /* border: solid red; */
}

.listing_products_wrap{
  width: 100%;
}